.rodape {
    background-color: var(--fundo-cinza);
    padding: 40px 0;
    color: var(--link-preto);
}

.rodape li, .rodape h6, .rodape ul {
    display: inline-block;
}

.rodape li:not(:first-of-type) {
    margin-left: 17px;
}

.rodape h6 {
    margin-right: 17px;
}

.rodape .menu-social a {
    color: var(--cor-texto-padrao);
}

.rodape a:hover {
    opacity: .6;
}

/* Mobile */
@media (max-width: 460px) {
    .rodape .flex {
        justify-content: center;
    }
    .rodape nav {
        text-align: center;
        width: 100%;
        margin: 10px;
    }
}